.section {
  background-color: var(--inverted-bg-color);
  height: var(--navbar-height);
  border-bottom: 1px solid var(--inverted-bg-color);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.col {
  &.colLeft {
    display: flex;
  }
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.li {
  margin-right: 10px;

  a {
    color: var(--inverted-primary-color);
    text-decoration: none;
    text-transform: uppercase;
  }
}
